# dependencies
/node_modules
/.pnp
.pnp.js

# production
/src
/scripts
/assets
/testing
/utils
/services
/.cache
/.parcel-cache
/.vscode

.gitignore
.parcelrc
.prettierrc
.eslintrc
tsconfig.json
jest.config.ts